

img {
    width: 100%;
}

.images{
    text-align: center;

}

.desk {
    width: 20%;
    border: 10px solid black ;
   

}
.graphic {
    
    width: 20%;
    border: 10px solid black ;


}

.person {

    width: 20%;
    border: 10px solid black ;
    
}